.square {
  width: 100px;
  height: 100px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, 10vh);
  position: relative;
  top: 10vh;
  left: 10vh;
}
.grid .square {
  width: 10vh;
  height: 10vh;
  position: relative;
}

.board {
  width: 100vw;
  height: 100vh;
  background-color: rgb(36, 36, 36);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.even_tile {
  background-color: grey;
}
.odd_tile {
  background-color: lightgray;
}

.piece_img {
  width: 9.5vh;
  height: 9.5vh;
  margin: 0 auto;
}

.move_dot {
  width: 1.3vh;
  height: 1.3vh;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: 4.35vh;
  left: 4.35vh;
  z-index: 5;
}

.infobar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: gray;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

  
.container {
  position: absolute;
  left: 110vh;
  top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 60%;
  width: 35%;
}


.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}

.form {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

.inputbar {
  display: flex;
  flex-direction: row;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: gray;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  font-size: 2vh;
  cursor: pointer;
}

  
.messageBox {
  background: #F3F3F3;
  border-radius: 13px;
  padding: 0px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundGray {
  background: rgb(102, 171, 194);
  border-bottom-right-radius: 0;
}

.backgroundLight {
  background: #F3F3F3;
  border-bottom-left-radius: 0;
}


.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}

.waiting {
  color: white;
}