.square {
  width: 100px;
  height: 100px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, 10vh);
}
.grid .square {
  width: 10vh;
  height: 10vh;
}

.even_tile {
  background-color: grey;
}
.odd_tile {
  background-color: lightgray;
}

.piece_img {
  display: block;
  width: 9.5vh;
  height: 9.5vh;
  margin: 0 auto;
}

.move_dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: red;
}