.square {
  width: 100px;
  height: 100px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, 10vh);
}
.grid .square {
  width: 10vh;
  height: 10vh;
}

.even_tile {
  background-color: grey;
}
.odd_tile {
  background-color: lightgray;
}

.piece_img {
  width: 9.5vh;
  height: 9.5vh;
  margin: 0;
}